# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_INGCHIPS
	bool

config INGCHIPS_PLATFORM
	bool "INGCHIPS platform firmware integration"
	default y

rsource "ing916/Kconfig"
rsource "ing20/Kconfig"
rsource "ing918/Kconfig"
