# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_ING918
	bool
	select SOC_FAMILY_INGCHIPS

config SOC_ING9188
	bool
	select SOC_SERIES_ING918

config SOC_SERIES
	default "ing918" if SOC_SERIES_ING918

config SOC
	default "ing9188" if SOC_ING9188
