/* SPDX-License-Identifier: Apache-2.0 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		led0 = &led0;
		led1 = &led1;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "ING916 IO22 LED";
		};

		led1: led_1 {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "ING916 IO23 LED";
		};
	};
};
