/* SPDX-License-Identifier: Apache-2.0 */
/dts-v1/;
#include <ingchips/ing20xx.dtsi>
/ {
	model = "INGCHIPS ING20 Mini";
	compatible = "ingchips,ing20-mini";
	chosen { zephyr,console = &uart0; zephyr,shell-uart = &uart0; };
};
&uart0 { status = "okay"; };
&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
