&gpio0 { status = "okay"; };
&i2c0 { status = "okay"; };
&i2c1 { status = "okay"; };
&spi0 { status = "okay"; };
&spi1 { status = "okay"; };
&pwm0 { status = "okay"; };
&rtc0 { status = "okay"; };
&wdt0 { status = "okay"; };
