# SPDX-License-Identifier: Apache-2.0

config UART_INGSOC
	bool "INGCHIPS register-level UART driver"
	default y
	depends on DT_HAS_INGCHIPS_UART_ENABLED
	select SERIAL_HAS_DRIVER
	help
	  Polling UART driver using direct register access instead of FWlib.
